body {
	background-color: #14171c;
}

#map { 
	width: 100%;
	height:700px;
}

#Title{
	font-weight: normal;
	font-variant:small-caps;
	color:#C8102E;
	letter-spacing:1pt;
	word-spacing:15pt;
	font-size:2.3em;
	text-align:center;
	font-family:trebuchet MS, sans-serif;
	line-height:1;
	padding-bottom: 10px;
}

#laserbeam-svg {
	display:none;
}

.overlay {
	display: inline;
}

.overlay button {
    font:600 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: #3386c0;
    color: #fff;
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.overlay button:hover {
    background-color:#4ea0da;
}

#upload {
  display: inline-block;
}